<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.materialtabs">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IconTextTabsActivity"
            android:label="Material Tabs"
            android:theme="@style/AppTheme"
            >

        </activity>
        <activity
            android:name=".bangun.Persegi"
            android:colorMode="default"
            android:label="Persegi"
            android:theme="@style/AppTheme"
            android:parentActivityName=".activity.IconTextTabsActivity">>

        </activity>
        <activity
            android:name=".bangun.persegi_panjang"
            android:colorMode="default"
            android:label="Persegi Panjang"
            android:parentActivityName=".activity.IconTextTabsActivity">

        </activity>
        <activity
            android:name=".bangun.segitiga"
            android:colorMode="default"
            android:label="Segitiga"
            android:parentActivityName=".activity.IconTextTabsActivity">

        </activity>
        <activity
            android:name=".bangun.jajar_genjang"
            android:colorMode="default"
            android:label="Jajar Genjang"
            android:parentActivityName=".activity.IconTextTabsActivity">

        </activity>
        <activity
            android:name=".bangun.lingkaran"
            android:colorMode="default"
            android:label="Lingkaran"
            android:parentActivityName=".activity.IconTextTabsActivity">

        </activity>
        <activity
            android:name=".bangun.Kubus"
            android:colorMode="default"
            android:label="Kubus"
            android:theme="@style/AppTheme.popup"
            android:parentActivityName=".activity.IconTextTabsActivity">

        </activity>

    </application>

</manifest>
